.features {
    display: flex;
    position: relative;

    &__content {
        width: 1140px;
        margin: auto;
        display: flex;
    }
    
    &__column {
        width: 459px;
        margin-bottom: 112px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: $text-color-green;
        margin: 0;
    }
    
    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: $dark-gray;
        margin-bottom: 0;
        margin-top: 23px;
    }

    &__description {
        font-size: 24px;
        line-height: 34px;
        margin-top: 30px;
        margin-bottom: 0;
        color: $dark-gray;
    }

    &__advantage-header {
        line-height: 42px;
        display: flex;
        margin-top: 42px;
    }

    &__advantage-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $blue-link-color;
        margin: 0;
        margin-left: 15px;
    }
    
    &__advantage-description {
        font-size: 18px;
        line-height: 26px;
        color: $dark-gray;
        margin-top: 8px;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid $blue-link-color;
    }

    &__advantage-item {
        border-bottom: 1px solid #2B292D26;
        margin-top: 21px;
        padding-bottom: 22px;
        display: flex;
    }

    &__advantage-item-text {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #2B292D;
        margin-left: 15px;
    }
    
    &__left-decoration {
        position: absolute;
        height: 168px;
        top: 258px;
    }

    &__banner {
        position: absolute;
        right: 0;
    }

    @include for-large-down {
        display: none;
    }
}

