.top-section {
    background-color: $light-pink;

    @include for-large-up {
            background-color: $light-pink;
            padding-top: 39px;
    }
}
.header {
    height: 64px;
    width: 100%;
    background-color: $white-color;
    padding-left: 15px;
    display: flex;
    align-items: center;

    &__button {
        display: none;

        @include for-large-up {
            display: block;
        }
    }
    .logo__text {
        color: #2B292D;
    }
    .logo__image {
        width: 48px;
        height:  48px;

        @include for-large-up {
            width: 60px;
            height:  60px;
        }
    }
    .logo__description {
        display: none;

        @include for-large-up {
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #2B292D;
            opacity: 0.6;
        }
    }

    &__menu-button {
        border: none;
        width: 58px;
        border-left: 1px solid rgb(0, 0, 0, 0.15);
        height: 100%;
        margin-left: auto;
        background: transparent;

        // &-icon {
        //     width: 18px;
        //     height: 13px;
        //     background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
        //     display: inline-block;
        // }

        @include for-large-up {
            display: none;
        }
    }

    @include for-large-up {
        width: 1140px;
        height: 62px;
        margin: auto;
        display: flex;
        background-color: $light-pink;
    }
}

.navigation {
    display: none;

    &__item {
        color: $dark-gray;
        font-size: 18px;
        line-height: 25px;
        text-decoration: none;
        margin-right: 50px;

        &_selected {
            font-weight: 700;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include for-large-up {
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }

    &__arrow {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
        height: 5px;
        width: 8px;
        display: inline-block;
        margin-left: 11px;
    }
}

.logo {
    display: flex;

    &__image {
        height: 48px;
        width: 48px;
        margin-right: 13px;

        @include for-large-up {
            height: 60px;
            width: 60px;
            margin-right: 15px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
}


