$text-color-green: #009B4D;
$primary-blue: #3040C4;
$white-color: #fff;
$light-pink: #F3C6BD;
$dark-gray: #2B292D;
$background-gray: #F4F5F7;
$blue-link-color: #3142C6;
$semi-transparent-gray: rgba(43, 41, 45, 0.6);
$light-beige: #FCF0E3;
$orange-color: #F1592B;
$sky-blue: #0189D1;
$transparent-blue: rgba(0, 161, 198, 0.1);
$grey-light: rgba(244, 245, 247, 1);